
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #F2D649;
    --color2: #F2AB27;
    --color3: #BF6211;
    --color4: #591902;
    --color5: #D9320D;
}

body {
    background-image: linear-gradient(to bottom, var(--color4) 40%, var(--color3));
    width: 100%;
}


header {
    padding: 5px 0px 5px 30px;
    background-image: linear-gradient(to bottom, var(--color5) 40%, var(--color4));
}

nav {
    background-color: var(--color4);
    padding: 15px 5px 0px 20px;
}
nav li {
    display: inline-block;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

nav a:hover {
    background-color:var(--color3);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 5px solid black;
    color: white;
}

main{
    padding: 5px 20px 30px 20px;
}

div#diceContent {
    display: flex;
}

div#showResult {
    background-image: linear-gradient(to bottom, var(--color3), var(--color2));
    text-align: center;
    width: 50%;
    min-height: 400px;
    color: black;
    padding: 5px;
    border: 10px solid black;
    margin: -5px 0px 0px -5px;

}

p#result {
    padding-top: 50px;
    font-size: 80px;
}

div#dices {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

div#dices input {
    width: 70px;
    height: 70px;
}

div#dices input:hover {
    border: 5px solid white;
}


div#amountOfDices {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

div#amountOfDices input {
    height: 25px;
    width: 25px;
    margin: 25px 10px 10px 10px;
}

div#amountOfDices p {
    text-align: center;
    font-size: 40px;
    background-color: white;
    width: 100px;
    color: black;
    line-height: 15px;
    border: 5px solid black;
}


div#rollIt {
    padding: 0px 0px 0px 5px;
    width: 50%;
    margin: auto;
}

div#rollIt input {
    margin-bottom: 25px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


div#infos {
    display: flex;
}

div#social {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 30px;
}

div#social a {
    text-decoration: none;
    color: white;
}

div#social a:hover {
    color: blueviolet;
}
